body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.navbar {
  width: calc(100% - 1em - 1rem);
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 60px;
  background-color: #2d3436;
  padding: 0 1rem;
}

.logo {
  color: #f50057;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.navbar-nav-item {
  color:#f50057;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
}



.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.MuiFormControl-root {
  margin-top: 0.5rem !important;
}

.register {
  display: flex;
  flex-direction: column;
}

.user_greeting {
  width: 40%;
  background-color: #2d3436;
}

.user_greeting_register {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.user_greeting_register > h1 {
  color:rgb(245, 0, 87);
}

.submit {
  color: #2d3436;
  font-weight: bold;
}

.form_container_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 600px;
  height:400px;
  background-image: linear-gradient(to right bottom,rgba(45, 52, 54,0.4),rgba(245, 0, 87,0.5)),url("./images/wallhaven-01py33.jpg");
  background-size: cover;
  background-position: center;
}

.form_container_inner>h1 {
  color: #f50057;
}

.form_container_inner>h3 {
  color: #fff;
}

.chat_friends_container {
  min-height: 100vh;
  display: flex;
}

.user_friends_display {
  margin-top: 60px;
  width: 30%;
  background-color: #f50057;
}

.avatar {
  color: #f50057;
  margin: 2rem;
  display: flex;
  align-items: center;
}

.chat_box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.message_display {
  margin-top:60px;
  margin-bottom:60px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.message_form_container {
  height: calc(100% - 60px);
  width: 100%;
  position: fixed;
  top: calc(100% - 60px + 1rem);

}

.message_form > input {
  width:calc(100% - 2rem) ;
  height: 100%;
  padding:1rem;
  margin: 0;
  border: 0;
  outline: none;
  background-color: #2d3436;
  color: #f50057;
}


@media only screen and (min-width:280px) and (max-width:1024px) {
  .navbar {
    height: 120px;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .logo {
    padding: 0;
    margin-bottom: 0;
   
  }

  .navbar-nav {
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .navbar-nav-item {
    height: 20px !important;
    width: 20px !important;
  }

  .avatar {
    margin: 0;
    width: 100%;
    justify-content: center;
    color: #f50057;
   }

  .avatar-icon {
    width: 20px !important;
    height: 20px !important;
  }
  

  .form_container_inner {
    margin-top: 120px;
    width: 100%;
    height: 100%;
  }

  .user_greeting {
    margin-top: 120px;
    width: 100%;
  }

  .form {
    width: 100%;
  }

  .message_display {
    margin-top: 120px;
  }
}


@media only screen and (min-width:3840px) {
  .navbar {
    height: 200px;
  }

  .logo {
    font-size: 3rem;
  }

  .navbar_icon_btn {
    width: 60px !important;
    height: 60px !important;
  }

  .form_container_inner {
    font-size: 3rem;
    width: 60%;
    height: 60%;
  }

  .user_greeting {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
  }
  
  .user_greeting_register {
    font-size: 2rem;
  }

  .MuiButton-label {
    font-size: 2rem ;
  }

  .MuiFormLabel-root {
    font-size: 2.5rem !important;
  }

  .MuiOutlinedInput-root {
    height: 150px;
  }

  .MuiButtonBase-root {
    height: 150px !important;
  }

  .MuiInputBase-input {
    font-size: 3rem !important;
  }

  .MuiPaper-root {
    height: 100px !important;
  }

  .MuiAlert-message {
    font-size: 3rem !important;
  }

  .MuiSvgIcon-root {
    width: 80px !important;
    height: 80px !important;
  }

  .avatar {
    font-size: 3rem;
    color: #f50057;
  }

  .MuiAvatar-root {
    width: 80px !important;
    height: 80px !important;
  }

  .message_display {
    font-weight: bold;
    font-size: 3rem;
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .message_form_container {
    top: calc(100% - 200px);
  }
  
  .message_form {
    height: 200px;
  }
  
  .message_form >input {
    font-size: 3rem;
  }
}
